<div class="container-fluid" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
      <h2>Please Sign In</h2>
      <input class="form-control rounded" type="text" placeholder="username" required/>
      <input class="form-control" type="password" placeholder="password" required/>
      <button class="btn btn-info" (click)="login()">Login</button>
      <h2>&nbsp;</h2>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
