<section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center text-light" id="pageHeaderTitle">Businesses</h1>
		<div>
            <button *ngIf="role == 'BusinessOwner'" class="btn btn-primary "  [routerLink]="['/business/add']" style="margin: 1rem; background-color: rgb(189, 117, 117);">Add New Business</button>

        </div>

		<article class="postcard dark blue" *ngFor="let item of Businesses" style="background-color: antiquewhite;">
			<a class="postcard__img_link">
				<img class="postcard__img" [src]="imgURL+item.businessPic" alt="Image Title" style="width: 10rem;"/>
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue text-dark">{{item.businessName}}</h1>
				<div class="postcard__subtitle small  text-dark">
					{{item.mangerName}}
					<!-- <i class="fas fa-calendar-alt mr-2"></i>{{item.serviceId}} -->
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt text-dark"><span class="text-primary">description:<br></span>{{item.businessDesc}}</div>
				<ul class="postcard__tagbox">
					<!-- <li class="tag__item play blue"><i class="fas fa-tag mr-2"></i><a class="btn" [routerLink]="['/business/edit',item.id]">Edit</a></li> -->
					<li class="tag__item play red"><i class="fas fa-clock mr-2"></i><a class="btn" (click)="delete(item)" routerLink="/business/delete">Delete</a></li>
				</ul> 
			</div>
		</article>

	</div>
</section>