<section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center text-light" id="pageHeaderTitle">Businesses</h1>

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue">Business Title</h1>
				<div class="postcard__subtitle small">
					<i class="fas fa-calendar-alt mr-2"></i>Service
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item play blue"><i class="fas fa-tag mr-2"></i><a class="btn" routerLink="/business/edit/1">Edit</a></li>
					<li class="tag__item play red"><i class="fas fa-clock mr-2"></i><a class="btn" routerLink="/business/delete">Delete</a></li>
				</ul>
			</div>
		</article>
	</div>
</section>