<div style="background:url(../../../assets/images/thomas-lefebvre-mT1uxKaegSQ-unsplash.jpg);">
	<br>
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
			<div class="login-form">
				<div class="sign-up-htm">
					<div class="group">
						<label for="user" class="label">fullName</label>
						<input id="user" type="text" class="input" [(ngModel)] = "fullName" required>
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="password" class="input" data-type="password" [(ngModel)] = "password" required>
					</div>
					<div class="group">
						<label for="pass" class="label">Repeat Password</label>
						<input id="pass" type="password" class="input" data-type="password" [(ngModel)] = "confirmPassword" required>
					</div>
					<div class="group">
						<label for="pass" class="label">Email Address</label>
						<input id="pass" type="text" class="input" [(ngModel)] = "email" required>
					</div>
					<div class="group">
						<label for="pass" class="label">Phone Number</label>
						<input id="pass" type="text" class="input" [(ngModel)] = "phoneNumber" required>
					</div>
					<div class="group">
						<label for="pass" class="label">Register As</label>
						<select class="input" [(ngModel)]="val" required>
							<option style="color: black;" value="2">Choose one</option>
							<option style="color: black;" value="1">Buisness Owner</option>
							<option style="color: black;" value="0">Pet Owner</option>
						</select>
					</div>

					<!-- <div class="text-center group">
						<input class="form-control" type="file" (change)="onChange($event)">
					</div> -->

					<br>
					<div class="group">
						<input type="submit" class="button" (click)="Register()" value="Sign Up">
						<hr>
					<a routerLink="/login" style="color: white;">Already a Member?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	</div>
	