<div class="container bootdey mt-2">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-3 mt-3">Team Members</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Group of talented ITI Graduates, Feel free to contact us we open for feedback</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="../../assets/images/Ibrahim.jpeg" class="img-fluid avatar avatar-medium shadow rounded-pill" style="width: 10rem;" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Ibrahim Mohamed</h4>
                        <small class="text-muted">Full stack Developer</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                            <li class="list-inline-item"><a href="https://www.facebook.com/ibrahimmohamed99/" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a>
                            <li class="list-inline-item"><a href="mailto:ibrahimmohamed21399@gmail.com" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ibrahim-mohamed-b7859123a/" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-sm-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="../../assets/images/Osama.jpeg" class="img-fluid avatar avatar-medium shadow rounded-pill" style="width: 10rem;" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Mohamed Osama</h4>
                        <small class="text-muted">Full Stack Developer</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/profile.php?id=100000280716166" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="mailto:Mo246800@gmail.com" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-4 col-md-6 col-sm-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="../../assets/images/Nada.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" style="width: 10rem;" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Nada Nabil</h4>
                        <small class="text-muted">Full Stack Developer</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                            <li class="list-inline-item"><a href="https://www.facebook.com/nada.nody.5851127" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:nadanabil931@gmail.com" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/nada-nabil-25449b1b8/" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->

        <!-- </div>end row -->

        <!-- <div class="row"> -->
            <div class="col-lg-6 col-md-6 col-sm-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="../../assets/images/1830506.png" class="img-fluid avatar avatar-medium shadow rounded-pill" style="width: 10rem;" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Nourhan Hesham</h4>
                        <small class="text-muted">Full Stack Developer</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                            <li class="list-inline-item"><a href="mailto:nuhesham@gmail.com" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/nourhan-hesham-gaafar/" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->
            
           
            
            <div class="col-lg-6 col-md-6 col-sm-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="../../assets/images/Yara.jpeg" class="img-fluid avatar avatar-medium shadow rounded-pill" style="width: 10rem;" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Yara Ahmed</h4>
                        <small class="text-muted">Full Stack Developer</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                            <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100005944179735" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:yarahmedkassem@gmail.com" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/yara-ahmed-kassem-7b760623b/" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->
           
            
           

        <!-- </div>end row -->
    </div>