<div class="container">
    <h2 class="h">Look for places</h2>

    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6">
            <label class="label">City:</label>
            <select class="form-control" [(ngModel)]="CityId" (change)="SetAreas(CityId)">
                <option *ngFor="let item of cities" (change)="CityId = item.id" [value]="item.id">{{item.name}} </option>
            </select>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <label class="label">Area:</label>
            <select class="form-control" [(ngModel)]="AreaId">
                <option *ngFor="let item of areas" (change)="AreaId = item.id" [value]="item.id">{{item.name}} </option>
            </select>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <label class="label">Service:</label>
            <label class="form-control">{{ServiceName}}</label>
        </div>

    </div>

    <button class="btn btn-info" (click)="Filter()">Filter</button><br>

    <div *ngIf="FilteredBusinesses.length >0 ">
        <table class="table table-hover table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Phone Number</th>
                    <th>Manager Name</th>
                    <th>Services</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of FilteredBusinesses; let i=index;" (click)="RowSelected(item);" (click)="send()">
                    <td>{{item.businessName}}</td>
                    <td>{{item.businessDesc}}</td>
                    <td>{{item.businussPhone}}</td>
                    <td>{{item.mangerName}}</td>
                    <td *ngFor="let item of item.services">
                        <tr>{{item}}</tr>
                    </td>
                    <td>{{item.businessRate}}</td>
                </tr>
            </tbody>
        </table>

        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
            <iframe [src]="src | safe" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>
</div>
