.btn{
    margin:1rem;
}

.h{
    margin: 2rem;
}

.label{
    margin: 0.5rem;
}

.form-control{
    width: 20rem;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
