<section class="dark">
<div class="container py-4">
    <h2 class="h text-light">Look for places</h2>

    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6">
            <label class="label text-light">City:</label>
            <select class="form-control" [(ngModel)]="CityId" (change)="SetAreas(CityId)">
                <option *ngFor="let item of cities" (change)="CityId = item.id" [value]="item.id">{{item.name}} </option>
            </select>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <label class="label text-light">Area:</label>
            <select class="form-control" [(ngModel)]="AreaId">
                <option *ngFor="let item of areas" (change)="AreaId = item.id" [value]="item.id">{{item.name}} </option>
            </select>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <label class="label text-light">Service:</label>
            <label class="form-control">{{ServiceName}}</label>
        </div>

    </div>

    <button class="btn btn-info" (click)="Filter()">Filter</button><br>

    <div *ngIf="FilteredBusinesses.length >0 ">
        <article class="postcard dark blue" *ngFor="let item of FilteredBusinesses; let i=index;" (click)="RowSelected(item);" [routerLink]="['/client/schedule',item.id]" (click)="send()" style="background-color: antiquewhite;">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" [src]="imgURL+item.businessPic" alt="Image Title" style="width:12rem;" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue text-dark">{{item.businessName}}</h1>
				<div class="postcard__subtitle small">
                    <i class="fas fa-calendar-alt mr-2 text-dark">{{item.mangerName}}</i><br>
					<i class="fas fa-calendar-alt mr-2 text-dark">{{item.businussPhone}}</i><br>
                    <p-rating class="cc"  style="margin: 1rem;" [(ngModel)]="item.businessRate" [cancel]="false" [readonly]="true"></p-rating>
				</div>
				<div class="postcard__bar"></div>
                <div class="postcard__preview-txt text-dark"><span class="text-primary mx-2">Location:</span>{{item.cityName}}, {{item.areaName}}</div>
				<div class="postcard__preview-txt text-dark"><span class="text-primary mx-2">About:</span>{{item.businessDesc}}</div>
                <div class="postcard__preview-txt text-dark"><span class="text-primary mx-2">Services:</span></div>
                <div class="row text-dark">
                    <div *ngFor="let service of item.services;" class="col-2"> 
                        <div *ngIf="service=='Shopping';" ><img class="row" src="../../../assets/images/shop.svg" style="width:40px;"/>{{service}}</div>
                        <div *ngIf="service=='Grooming';" ><img class="row" src="../../../assets/images/Groom.svg" style="width:40px;"/>{{service}}</div>
                        <div *ngIf="service=='Hosting';" ><img class="row" src="../../../assets/images/host.svg"  style="width:40px;"/>{{service}}</div>
                        <div *ngIf="service=='Veterinary Care';" ><img class="row" src="../../../assets/images/Veteriniary.svg" style="width:40px;"/>Veterinary Care</div>
                        <div *ngIf="service=='Training';" ><img class="row" src="../../../assets/images/train.svg"  style="width:40px;"/>{{service}}</div>
                    </div>          
                </div>


			</div>
		</article>
    </div>

</div>
</section>