<div class="hero_area header_section">
  <div class="hero_bg_box">
    <img src="../../../assets/images/hero-bg.jpg">
  </div>
  <section class="slider_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="detail-box">
            <h1>
              We Will Take Care <br><br> Of Your Pets
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque rem veritatis dolorem voluptas dolore odio pariatur explicabo nesciunt non et obcaecati repellat est sint aliquid, temporibus ab ad eum nisi.
            </p>
            <button class="btn" routerLink="/">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<br>

<div class="container">
  <div class="row justify-content-sm-center">
    <div class="cl-xl-7 col-lg-8 col-md-10">
      <div class="section-tittle text-center mb-70">
        <div style="margin-bottom: 1rem;">Our Professional Services</div>
        <h2>Best Pet Care Services</h2>
      </div> 
    </div>
  </div>
  <section>
    <div class="scene">
      <div class="row">

        <div class="col-lg-2 col-md-6 col-sm-6 offset-lg-1 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/4216328.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Grooming</h2>
              <p class="text-dark mx-1">Regular grooming is essential to your pet's health </p>
              <button class="btn" [routerLink]="['/services',services[1].id]" >See More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/1491099.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Hosting</h2>
              <p class="text-dark mx-1">Places can host your pet if you'r abroad</p>
              <button class="btn" [routerLink]="['/services',services[2].id]">See More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/1830506.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Training</h2>
              <p class="text-dark mx-1"> plcaces to train your Pet</p>
              <button class="btn" [routerLink]="['/services',services[4].id]">See More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/3737708.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Shopping</h2>
              <p class="text-dark mx-2"> buying Allthings that your pet need</p>
              <button class="btn" [routerLink]="['/services',services[0].id]">See More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/3611602.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Veterinary Care</h2>
              <p class="text-dark mx-2">All nearests Vaterinary Care to you </p>
              <button class="btn" [routerLink]="['/services',services[3].id]">See More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

