<div class="hero_area header_section">
  <div class="hero_bg_box">
    <img src="../../../assets/images/hero-bg.jpg">
  </div>
  <section class="slider_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="detail-box">
            <h1>
              We Will Take Care <br> Of Your Pets
            </h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque rem veritatis dolorem voluptas dolore odio pariatur explicabo nesciunt non et obcaecati repellat est sint aliquid, temporibus ab ad eum nisi.
            </p>
            <a href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  