<button
        class="btn btn-primary btn-floating btn-lg"
        id="btn-back-to-top"(scroll)="onscroll()" [ngClass]="scrolled?'fixed':'nofixed'"(click)="back()"
        ><i class="fa fa-arrow-up"></i>

</button>
<div class="hero_area header_section">
  <div class="hero_bg_box">
    <img src="../../../assets/images/hero-bg.jpg">
  </div>
  <section class="slider_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="detail-box">
            <h1>
              We Will Take Care <br><br> Of Your Pets
            </h1>
            <p>
              We are committed to take care of your pets through a number of services that<br>
              maintain, improve and enhance your pet's health and keeping them safe, <br>
              healthy and happy. 
            </p>
            <button class="btn" routerLink="/aboutus">About Us</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<br>

<div class="container" id="ser" [(ngModel)]="services">
  <div class="row justify-content-sm-center">
    <div class="cl-xl-7 col-lg-8 col-md-10">
      <div class="section-tittle text-center mb-70">
        <div style="margin-bottom: 1rem;">Our Professional Services</div>
        <h2>Best Pet Care Services</h2>
      </div> 
    </div>
  </div>
  <section>
    <div class="scene">
      <div class="row justify-content-center ">

        <div class="col-lg-2 col-md-6 col-sm-6 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/4216328.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Grooming</h2>
              <p class="text-dark mx-1">Proper grooming is more than just having a cute pet</p>
              <button class="btn" [routerLink]="['/services',services[1].id]" >See More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/1491099.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Hosting</h2>
              <p class="text-dark mx-1">Pet boarding services that offer your pets individual attention</p>
              <button class="btn" [routerLink]="['/services',services[2].id]">See More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/1830506.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Training</h2>
              <p class="text-dark mx-1"> Support your pet in becoming a happy and well-adjusted member of your family</p>
              <button class="btn" [routerLink]="['/services',services[4].id]">See More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/3737708.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Shopping</h2>
              <p class="text-dark mx-2"> Provide your pet with supplies and accessories</p>
              <button class="btn" [routerLink]="['/services',services[0].id]">See More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 mx-2">
          <div class="card">
            <div class="card__face card__face--front">
              <img src="../../../assets/images/3611602.png" style="width: 8rem;height:8rem;margin-top: 30px;"/>
            </div>
            <div class="card__face card__face--back">
              <h2 class="text-dark" style="margin-top: 30px;">Veterinary Care</h2>
              <p class="text-dark mx-2">Wellness care for pets is about so much more than just another round of shots </p>
              <button class="btn" [routerLink]="['/services',services[3].id]">See More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div class="container shadow row border rounded" style="margin-bottom: 2rem;padding: 1rem;">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <img src="../../../assets/images/geran-de-klerk-bKhETeDV1WM-unsplash.jpg" class="rounded" style="width: 15rem;">
  </div>

  <div class="col-lg-9 col-md-6 col-sm-12 align-items-left">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo nisi adipisci repudiandae, in, quas aliquid delectus, aliquam vel eligendi illum neque. Alias voluptatum delectus quo corrupti! Dolores velit aliquam doloribus?</p>
  </div>
</div> -->