<div class="container">
    <!-- Business Details -->
    <h1>Details</h1>
    <div class="container py-4">
        <article class="postcard dark blue" style="background-color: antiquewhite;">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" [src]="imgURL+SelectedBusiness.businessPic" alt="Image Title" style="width:12rem;" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue text-dark" >{{SelectedBusiness.businessName}}</h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-calendar-alt mr-2 text-dark">{{SelectedBusiness.businussPhone}}</i><br>
                    <p-rating style="margin: 1rem;" [(ngModel)]="SelectedBusiness.businessRate" [cancel]="false" [readonly]="true"></p-rating>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt text-dark">{{SelectedBusiness.businessDesc}}</div>
            </div>
        </article>
    </div>

    <hr>
    <!-- Schedule -->
    <h1>Available Days</h1>
    <div class="container group d-flex justify-content-center align-items-center h-100" >
        <div class="grid-1-5" *ngFor="let s of schedule" style="padding-top: 7rem;">
            <h2>{{s.dayOfWeek}}</h2>
            <h3><span class="uppercase">{{s.startTime}} : {{s.endTime}}</span></h3>
            <a [routerLink]="['/client/schedule',SelectedBusiness.businessId]" class="button" (click)="Book()">Book</a>
        </div>
    </div>

    <hr>
    <!-- Map -->
    <h1>Location</h1>
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe [src]="src | safe" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <hr>
    <!-- rating and comment -->
    <h1>Feedback and Rating</h1>
    <section class="content-item" id="comments">
        <div class="container">   
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-8">   
                    <div *ngIf="role == 'Client'">
                        <form>
                	        <h3 class="pull-left">New Comment</h3>
                	        <button type="submit" class="btn pull-right text-light" style="margin: 1rem;background-color: #9c83aa;" (click)="Submit()">Submit</button>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2 hidden-xs">
                            	        <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" style="width: 6rem;">
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                        <textarea [(ngModel)]="text" class="form-control" id="message" placeholder="Your message" required=""></textarea>
								        <p-rating style="margin: 1rem;" [(ngModel)]="val" [cancel]="false"></p-rating>
                                    </div>
                                </div>  	
                            </fieldset>
                        </form>
                    </div>

                    <h3>{{length}} Comments</h3>
                    <div class="media" *ngFor="let comment of Comments" style="padding: 3rem;">
                        <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.applicationUserId}}</h4>
                            <p>{{comment.comment}}</p>
                            <p-rating class="pull-left" style="margin: 1rem;display: inline;" [(ngModel)]="comment.rate" [cancel]="false" [readonly]="true"></p-rating>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                <li><a class="btn btn-danger" [routerLink]="['/client/comment/delete']" (click)="delete(comment.commentId)" >Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
