.fixed {
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 0px;
}

.nofixed {
    position: static;
    transition: 0.2s linear;
    top: -50px;
}

.navbar li a {
    margin-top: 0px;
 }
 
 @media screen and (max-width: 875px) {
 .navbar.responsive li.navbar_items {
     display: block;
     padding: 0px;
     font-size: 25px;
 }
 }