<nav class="navbar navbar-expand-lg navbar-light custom_nav-container" style="background-color: #1c2331;">
  <a class="navbar-brand" routerLink="home">
    <img src="../../../assets/images/5871573.png" style="width: 4rem;height: 4rem;margin-left: 0.5rem;display: inline;">
  </a>
  <a class="navbar-brand" routerLink="home">
    <h3 class="text-light" style="display:inline;margin-top: 1rem;font-family: 'Pacifico', cursive;">MyPet</h3>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="margin-left: auto;">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="businessowner">Business Owner</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="business">Business</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="client">Pet Owner</a>
      </li>

      <li class="nav-item" *ngIf="auth">
        <a class="nav-link" routerLink="login" >Login</a>
      </li>

      <li class="nav-item" *ngIf="!auth">
        <a class="nav-link" routerLink="" >Logout</a>
      </li>

      <li class="nav-item" *ngIf="auth">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
    </ul>
  </div>
</nav>
