<!-- <div class="hero_area ">
    <div class="hero_bg_box">
      <img src="../../../assets/images/hero-bg.jpg">
    </div>

    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" routerLink="home">
            <span>MyPet</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" style="margin-left: auto;">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                  </li>
                </ul>
              </div>
        </nav>
      </div>
    </header>
</div> -->

<div class="hero_area header_section">
  <div class="hero_bg_box">
    <img src="../../../assets/images/hero-bg.jpg">

  </div>
<nav class="navbar navbar-expand-lg navbar-light custom_nav-container">
  <a class="navbar-brand" routerLink="home">
    <span>MyPet</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="margin-left: auto;">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<section class="slider_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="detail-box">
          <h1>
            We Will Take Care <br> Of Your Pets
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque rem veritatis dolorem voluptas dolore odio pariatur explicabo nesciunt non et obcaecati repellat est sint aliquid, temporibus ab ad eum nisi.
          </p>
          <a href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
